/* .header_container{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 999999999;
} */

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.logo{}

.logo a{}

.logo a img{
  height: 45px;
}

nav.menu{}

nav.menu ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav.menu ul li{

}

nav.menu ul li a{
  font-size: 16px;
  color: #a83330;
  padding: 20px;
}

nav.menu ul li:last-child a{
  padding-right: 0;
}

.menu_mobile{
  display: none;
}

@media screen and (max-width: 768px){
  body.menu_opened{
    overflow-y: hidden;
  }

  nav.menu{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    opacity: -1;
    visibility: hidden;
    transition: all .2s linear;
  }

  nav.menu.menu_opened{
    opacity: 1;
    visibility: visible;
    z-index: 999;
  }
  
  nav.menu ul{
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 80%;
    background-color: #FFFFFF;
    transform: translateX(100vw);
    transition: all .2s linear;
  }

  nav.menu.menu_opened ul{
    transform: translateX(0);
  }
  
  nav.menu ul li{
    width: 100%; 
  }
  
  nav.menu ul li a{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  .menu_mobile{
    display: flex;
    width: 35px;
  }

  .menu_mobile img{
    width: 100%;
  }
  
}

.open_contactform{
  opacity: 1!important;
  visibility: visible!important;
}