.contactform_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  visibility: hidden;
  transition: all .1s linear;
}


.contactform_content {
  max-width: 500px;
  width: 90%;
  background-color: #FFF;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.contactform_close{
  position: absolute;
  right: -20px;
  top: -20px;
  background-color: #a83330;
  color: #FFF;
  line-height: 1;
  display: flex;
  height: 40px;
  width: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}

.contactform_title {
  text-align: center;
  margin-bottom: 18px;
}

.contactform_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;  
}

.contactform_form_item {
  width: 49%;
}


.contactform_form_input_name {
}

.contactform_form_input_phone {
}

.contactform_form_input_email {
}

.contactform_form_input_radio {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;  
}

.contactform_form_input_radio label{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 17px;
}

.contactform_form_input_subject {
}

.contactform_form_input_mensagem {
  width: 100%;
}

.contactform_form_input_mensagem textarea{
  height: 100px;
}

.contactform_form_input {
  width: 100%;
  border: 1px #a83330 solid;
  padding: 7px 10px;
  margin-bottom: 17px;
  box-sizing: border-box;
  outline: none;
  color: #000;
  font-size: 15px;
  font-weight: 100;
}

.contactform_form_input_radio label input{
  height: 12px;
  width: 12px;
  margin: 0 5px 0 0;
}


.contactform_form_button {
  width: 100%;
    text-align: center;
}

.contactform_form_button_item {
  font-size: 18px;
  border: 1px #a83330 solid;
  padding: 10px 30px;
  background-color: #a83330;
  color: #FFF;
  cursor: pointer;border-radius: 5px;
  transition: all .1s linear;
}

.contactform_form_button_item:hover{
  background-color: transparent;
  color: #a83330;
}

.isSendingBox{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: revert;
  align-items: center;
  justify-content: center;
}

.isResultForm{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: revert;
  align-items: center;
  justify-content: center;
}

.isResultForm_p{
  font-size: 16px;
  color: #a83430;
  width: 90%;
  text-align: center;
  line-height: 1.4;
}

.spinner {
  border: 8px solid #a8343050;
  border-left-color: #a83430;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 490px){
  .contactform_form_input_radio label{
    width: 50%;
    box-sizing: border-box;
    padding-right: 15px;
  }
}