.why_container{
  background-color: #a83330;
  padding: 60px 0;
}

.why_texts{}

.why_texts h2{
  color: #FFF;
}

 .why_content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
 }
 
 .why_content_item{
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
 }

 .why_content_item:nth-child(odd){
   padding-right: 25px;
 }
 
 .why_content_item img{}
 
 .why_content_item p{
  color: #FFF;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  margin-left: 20px;
 }

 @media screen and (max-width: 991px){
  .why_content_item{
    width: 100%;
  }

  .why_texts h2{
    text-align: center;
  }

  .why_content_item:nth-child(odd){
    padding-right: 0px;
  }
 }