.services_container{}

.services_texts{
  text-align: center;
}

.services_texts h2{
  font-size: 40px;
  line-height: 1;
  color: #a83330;
}

.services_texts p{
  font-size: 18px;
  margin: 30px auto 40px auto;
  line-height: 1.4;
  max-width: 700px;
  width: 100%;
}

.services_content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.services_item{
  width: 24%;
  margin-bottom: 1.33%;
  margin-left: 1.33%;
  height: 350px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 4px 1px #aaa;
}

.services_item:nth-child(4n+1), .services_item:nth-child(5) {
  margin-left: 0%;
}

.services_item a{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .4);
  color: #FFF; 
  font-size: 20px;
}



@media screen and (max-width: 1200px){
  .services_item{
    width: 32.4%;
  }

  .services_item:nth-child(3n+1){
    margin-left: 0%;
  }

  .services_item:nth-child(5){
    margin-left: 1.33%;
  }
}


@media screen and (max-width: 991px){
  .services_item{
    width: 48.3%;
    height: 250px;
    margin-bottom: 4%;
  }

  .services_item:nth-child(3n+1) {
    margin-left: 1.33%;
  }

  .services_item:nth-child(odd){
    margin-left: 0;
    margin-right: 2%;
  }
}